<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Livinn</title>
</head>

<body>
  <h3>All listings</h3>
  <% for(let listing of allLinstings ) {%>
    <ul>
      <a href="/listings/<%= listing._id  %>">
        <%= listing.title %>
      </a>
    </ul>
    <% } %>

</body>

</html>