body {
  background-color: pink;
}

/* Navbar  */

.navbar {
  height: 5rem;
  background-color: #fff;
}

.fa-compass {
  color: #E41D57;
  font-size: 2rem;
}

.nav-link {
  color: #000000 !important;
}